<html>

<head>
    <title>KVS-Rekognition Fidgetology Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen">
    <!-- Angular Material Design CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">
    <script defer src="js/lib/font-awesome/fontawesome-all.min.js"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- AWS SDK for browser -->
    <script src="js/lib/aws-sdk/aws-sdk.min.js"></script>
    <!-- Echarts charting library -->
    <script src="js/lib/echarts/echarts.min.js"></script>
    <!-- AngularJS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>
    <script src="js/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="js/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="js/lib/webcamjs/webcam.js"></script>
    <script src="js/custom/webcam-canvas.js"></script>
    <script src="js/app/config.js"></script>
    <script src="js/app/ng-config.js"></script>
    <!-- Angular controllers -->
    <script src="js/app/root-controller.js"></script>
    <script src="js/app/webcam-stream-controller.js"></script>
</head>

<body ng-app="dashboardApp" ng-controller="RootController as ctrl" ng-init="init()" ng-cloak>
    <md-content class="md-padding">
        <md-button ng-click="openUploadDialog($event)" ng-disabled="inProgress" class="md-secondary md-raised">
            Upload Video
        </md-button>
        <md-button ng-click="toggleWebcamStream($event)" ng-disabled="inProgress" class="md-primary md-raised">
            <label ng-if="!isStreaming">
                Stream Webcam
            </label>
            <label ng-if="isStreaming">
                Stop Webcam
            </label>
        </md-button>
        <md-button ng-show="isStreaming" href="https://console.aws.amazon.com/kinesisvideo/streams/streamName/{{Config.KVS_STREAM_NAME}}?region={{Config.AWS_REGION}}" target="_blank" class="md-raised">
            KVS Console&nbsp;<i class="fa fa-external-link-alt"></i>
        </md-button>
        <br>
        <br>
        <section ng-controller="WebcamStreamController">
            <md-progress-linear md-mode="indeterminate" ng-show="streamMetadata.inProgress" style="width:100%;max-width:640px;"></md-progress-linear>
            <div id="webcam-canvas"></div> <br>
            <md-checkbox ng-show="isStreaming" ng-model="shouldUploadFrames" ng-true-value="1" ng-false-value="0" aria-label="Checkbox 1" class="md-primary">
                Upload Frames
            </md-checkbox>
            <div class="stream-metrics" ng-if="streamMetadata && isStreaming">
                <md-input-container>
                    <label>Webcam FPS</label>
                    <input class="md-primary" ng-readonly="true" ng-model="streamMetadata.framerate"></input>
                </md-input-container>
                <md-input-container>
                    <label>No. Frames to Buffer</label>
                    <input class="md-primary" min="20" max="80" type="number" ng-model="streamMetadata.bufferSize"></input>
                </md-input-container>
                <md-input-container>
                    <label>Time b/w Requests (ms)</label>
                    <input class="md-primary" ng-readonly="true" ng-model="streamMetadata.postInterval"></input>
                </md-input-container>
                <md-input-container>
                    <label>Webcam-KVS Latency (ms)</label>
                    <input class="md-primary" ng-readonly="true" ng-model="streamMetadata.KVSLatency"></input>
                </md-input-container>
                <md-input-container>
                    <label>Last request size
                        <br>(Lambda max: 6 MB)</label>
                    <input class="md-primary" ng-readonly="true" ng-model="streamMetadata.payloadSize"></input>
                </md-input-container>
            </div>
        </section>
        <br>
    </md-content>
</body>

</html>